:root {
    --black: #11151f;
    --dark-grey: #d4d4d4;
    --grey-blue-hover: #283040;
    --grey-blue: #374456;
    --mid-grey: #f1f1f1;
    --white: #fcfcfc;
    --yellow: #e5b261;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: var(--grey-blue);
    font-size: 1.25rem;
}

h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

legend {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    padding-left: 0;
}

p:not(input ~ p) {
    margin-bottom: 1.5rem;
}

.brand {
    align-items: center;
    display: flex;
    padding: 1rem 0 2rem 0;
}

.brand img {
    margin-right: 0.75rem;
    width: 2rem;
}

/* ON YOUR OWN
    Make sure that you optimise your background images in Squoosh! */

.bg {
    background: url('../img/work-at-home-with-pets.webp') center / cover;
    min-height: calc(30rem + 25vw);
    position: relative;
}

.container {
    padding: 1rem;
}

.form-container {
    background-color: var(--mid-grey);
}

.form-container > p:first-of-type {
    background-color: var(--yellow);
    border-radius: 5px 5px 0 0;
    color: var(--white);
    font-size: 1.25rem;
    margin-bottom: 0;
    padding: 1rem;
    text-align: center;
}

.form-container > p:last-of-type {
    font-size: 0.8rem;
    padding: 1rem 0 2rem 0;
    text-align: center;
}

a {
    color: var(--grey-blue);
}

form {
    padding: 0.75rem;
}

fieldset {
    border: none;
    padding: 0;
}

label {
    display: block;
}

label ~ p {
    font-size: 0.8rem;
}

.flex-container > div {
    margin-bottom: 1.25rem;
}

input, select {
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
    height: 2.5rem;
    width: 100%;
}

input {
    border-radius: 5px;
    padding-left: 0.5rem;
}

input[type="submit"] {
    background-color: var(--grey-blue);
    color: var(--white);
    cursor: pointer;
    margin: 2rem 0 0 0;
}

input[type="submit"]:hover {
    background-color: var(--grey-blue-hover);
}

/* Form Validation */

.flex-container > div {
    position: relative;
}

.is-valid {
    /* background-color: #e5b261; */
    display: inline-block;
    height: 1rem;
    position: absolute;
    right: 0.25rem;
    top: 0;
    width: 1rem;
}

input:valid ~ .is-valid {
    background: url('../img/check.svg') center / cover no-repeat;
}

/* This media query switches the form to a two-column layout */

@media screen and (min-width: 680px) {
    .container {
        padding: 2rem;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .flex-container > div {
        flex-basis: 49%;
    }
}

@media screen and (min-width: 1000px) {
    section {
        display: flex;
        max-width: 100rem;
    }

    .bg {
        background: url('../img/work-at-home.webp') center / cover;
        flex: 1 0 45%;
    }

    .container {
        padding: 2rem 4rem;
    }
}

/* ON YOUR OWN

    Write a special media query that only applies to the two smallest screen sizes. In these layouts, the brand (the logo and name of the company should):

    1. be positioned at the top of the page
    2. have white text
    3. have a drop-shadow on the text

*/

@media screen and (max-width: 999px) {
    .brand {
    height: 1rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 2rem;
    }

    h1 {
        color: var(--white);
        text-shadow: 1px 1px var(--grey-blue-hover);
    }
}
